* {
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-family: "Poppins", sans-serif;
}
.page {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  .container {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 16px;

    .image-qr-code {
      max-width: 270px;
      border-radius: 5%;
    }
    div {
      margin: 16px;
      .title {
        color: hsl(218, 44%, 22%);
        font-size: 18px;
      }
      .description {
        color: hsl(220, 15%, 55%);
      }
    }
  }
  footer {
    .attribution {
      font-size: 11px;
      a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
